/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* Main CSS */

body {
    height: 100vh;
    background: var(--bgclr-base);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* variables */
    --bgclr-base: rgb(219, 228, 230);
    --box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2);
    --bgclr-primary: white;
    --bgclr-secondary: rgb(0, 132, 255);
    --txtclr-base: rgb(104, 103, 103);
    --txtclr-primary: black;
    --txtclr-secondary: white;
    --highlightclr: rgb(255, 187, 0);
    --card-bdr-radius: 10px;
    --section-padding: min(30px,3vh) min(40px,4vw);
    --card-padding: min(30px,3vh) min(30px,3vw);
    --proj-card-padding: min(30px,3vh) min(22px,3vw);
}

button {
    border: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--txtclr-primary);
}

/* utility classes */

.icon-btn {
    padding: 0;
    padding-top: 6px;
    background: none;
}

.icon {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 20;
    
}

.bold {
    font-weight: bold;
}

.large-font {
    font-size: 1.5rem;
}

.medium-font {
    font-size: 0.9rem;
}

.small-font {
    font-size: 0.75rem;
}

.extra-s-font {
    font-size: 0.65rem;
}

.large-pic {
    width: 64px;
    height: 64px;
}

.small-pic {
    width: 40px;
    height: 40px;
}

.card-sub-text{
    color: var(--txtclr-base);
    line-height: 1.2;
}

/* main grid container */
.container {
    
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: max-content 1fr;
    
}

/* Header css */
.header {
    grid-column: 2;

    background-color: var(--bgclr-primary);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2,1fr);
    row-gap: 10px;
    box-shadow: var(--box-shadow);
    padding: var(--section-padding);
    align-items: start;
}

.search-bar {
    display: flex;
    gap: 6px;
}

.search-bar input {
    flex-grow: 1;
    max-width: 500px;
    min-width: 100px;
    border-radius: 20px;
    border-style: none;
    background: var(--bgclr-base);
    padding: 6px 16px;
    font-size: 1rem;   
}

.search-bar input:focus {
    outline: none;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: min(20px,1.5vw);
}

.profile-pic {
    border-radius: 50%;
    border-style: none;
    background-image: url(images/cat.svg);
}

.greeting {
    display: flex;
    align-items: center;
    gap: 24px;
}

.content-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: min(20px,2vw);
    align-self: center;
    /* flex-wrap: wrap; */
}

.content-btns > button {
    flex-grow: 1;
    max-width: 100px;
    background: var(--bgclr-secondary);
    color: var(--txtclr-secondary);
    border-radius: 20px;
    padding: 8px 18px;
}


/* Side-nav css */

.side-nav {
    
    grid-row: 1/3;
    background: var(--bgclr-secondary);
    color: var(--txtclr-secondary);
    display: grid;
    grid-template-rows: repeat(3,max-content);
    gap: min(40px,4vh);
    padding: var(--section-padding);
    
}

.side-nav .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
}

.logo .icon {
    font-size: 2rem;
}

.side-nav ul{
    list-style-type: none;
    padding: 0;

}

.side-nav a {
    color: var(--txtclr-secondary);
    /* display: block; */
}

.general-menu > ul, .service-menu > ul{
    display: grid;
    gap: min(20px,2vh);

}

.general-menu > ul > li , .service-menu > ul > li{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* content-section css */

.content-section {
    display: grid;
    grid-template-columns: 1fr minmax(16ch,28ch);
    grid-template-rows: 1fr 1fr;
    gap: min(20px, 2vh);
    padding: 24px 20px;
}

.projects {
    grid-row: 1/3;   
}

.projects, .announcements, .trending {
    display: grid;
    grid-template-rows: 36px 1fr;
    
}

.projects > .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: min(26px, 3vh);
}

.proj-card {
    background: var(--bgclr-primary);
    padding: var(--proj-card-padding);
    border-left: 8px solid var(--highlightclr);
    border-radius: var(--card-bdr-radius);
    
}

.proj-card > .icons {
    padding-top: 32px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.announcements > .cards, .trending > .cards{
    background: var(--bgclr-primary);
    border-radius: var(--card-bdr-radius);
    padding: var(--card-padding);
    display: grid;
    gap: min(20px, 2vh);
}

.announ-card {
    border-bottom: 1px solid var(--bgclr-base);
    padding-bottom: min(20px, 2vh);

}

.announ-card > .title {
    padding-bottom: 2px;
}

.announcements .announ-card:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.trend-card {
    display: flex;
    gap: min(15px, 1.5vw);
}

